<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Risevest Test</title>
</head>
<body>

    {{{body}}}

</body>
<style>
    .center {
        border: 5px solid;
        padding: 10px;
        width: fit-content;
        margin: auto;
    }
</style>
</html>